body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

#valorContador {
    font-size: 4em; 
    font-weight: bold;
    color: darkred;
    display: block;
    margin: 10px 0;
}

button {
    padding: 15px 30px;
    font-size: 1.5em;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

#botaoIncrementar {
    background-color: green; 
    color: white;
}

#botaoDecrementar {
    background-color:red; 
    color: white;
}

button:hover {
    opacity: 0.8;
}