body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#searchInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}
#nameList {
    list-style: none;
    padding: 0;
    max-width: 300px;
}
#nameList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-top: 5px;
    background-color: #f9f9f9;
    /* Garante que o item comece como 'block' ou 'list-item' para ser mostrado */
    display: block; 
}