.caixa {
    padding: 10px;
    margin: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
}

.bloco{
    background-color: red;
    width: 250px;
    height: 50px;
    display: block;
}

.inline{
    background-color: aqua;
    display: inline;
    width: 250px;
    height: 50px;
    padding: 5px;
}

.inline-block{
    background-color: green;
    display: inline-block;
    width: 150px;
    height: 80px;
    line-height: 80px;

}